extends ./_global/page

block head_end
    link(rel="stylesheet", href="./css/index.css")

block body_content
    main.wrapper
        section.h-100vh.o-h
            .shssv_ad
                .py-2
                    img(src="./images/svg_16.svg", alt="", width="100", height="auto")
                .py-2
                    img(src="./images/svg_15.svg", alt="", width="310", height="auto")
                .py-2
                    img(src="./images/svg_14.svg", alt="", width="1320", height="auto")
                .py-2
                    img(src="./images/line_lg.png", alt="", width="1314", height="auto")
                .py-2.f-grey.f-md
                    | 環抱谷關溫泉，右倚八仙山，悠閒放鬆，享受生活

                .ground
                    img(src="./images/ground_tree.png", alt="", width="100%", height="auto")
            img(src="./images/image_01.jpg", alt="", width="100%", height="auto")
        section
            .container.d-flex.flex-column.align-items-center.justfy-content-center
                .h-100px
                .py-2.f-main.f-lg.font-weight-bold
                    | 關於松鶴山水
                .py-2
                    img(src="./images/title_02.png", alt="", width="779", height="55")
                .w-75.py-2.f-grey.f-sm
                    | Shanshuei B&amp;B
                    br
                    | 台中谷關‧松鶴山水 位於台中市和平區，層疊群山環繞的環境有著清逸秀麗的美麗風景，讓人感到身心舒暢，彷彿所有煩憂都被隔絕在這綠油油的山林之外，四周充t斥著芬多精，大口呼吸便能感覺清新的空氣在體內沸騰，帶給您都市沒有的愜意自在。
                .h-100px
            .parallax
        section
            .h-200px.o-h
                img(src="./images/image_02.jpg", alt="", width="100%", height="auto")
        section
            .container
                .h-100px
                .row
                    .col-12.col-md-8
                        img(src="./images/river_01.png", alt="", width="100%", height="auto")
                    .col-12.col-md-4
                        .py-2
                            img(src="./images/title_03.png", alt="")
                        .py-2
                            span
                                img(src="./images/svg_08.svg", alt="", width="20", height="auto")
                            span.font-sm.f-main.pl-3
                                | 步行10公尺
                        .py-2.f-grey.f-xs
                            | Shanshuei B&amp;B 
                            br
                            | 台中谷關‧松鶴山水 位於台中市和平區，層疊群山環繞的環境有著清逸秀麗的美麗風景，讓人感到身心舒暢，彷彿所有煩憂都被隔絕在這綠油油的山林之外，四周充斥著芬多精，大口呼吸便能感覺清新的空氣在體內沸騰，帶給您都市沒有的愜意自在。
                .h-100px
                .row
                    .col-12.col-md-4
                        .py-2
                            img(src="./images/title_04.png", alt="")
                        .py-2
                            span
                                img(src="./images/svg_07.svg", alt="", width="36", height="auto")
                            span.font-sm.f-main.pl-3
                                | 步行10公尺
                        .py-2.f-grey.f-xs
                            | Shanshuei B&amp;B 
                            br
                            | 台中谷關‧松鶴山水 位於台中市和平區，層疊群山環繞的環境有著清逸秀麗的美麗風景，讓人感到身心舒暢，彷彿所有煩憂都被隔絕在這綠油油的山林之外，四周充斥著芬多精，大口呼吸便能感覺清新的空氣在體內沸騰，帶給您都市沒有的愜意自在。
                    .col-12.col-md-8
                        img(src="./images/forest_01.png", alt="", width="100%", height="auto")
                .h-100px
            .parallax
        section
            .container.d-flex.flex-column.align-items-center.justfy-content-center
                .py-2.f-main.f-lg.font-weight-bold
                    | 松鶴周邊
                .py-2
                    img(src="./images/title_05.png", alt="", width="1024", height="auto")
                .py-2.f-green.f-sm
                    | 【童螢季】
                .w-75.pb-4.f-grey.f-sm
                    | Shanshuei B&amp;B 台中谷關‧松鶴山水 位於台中市和平區，層疊群山環繞的環境有著清逸秀麗的美麗風景，讓人感到身心舒暢，彷彿所有煩憂都被隔絕在這綠油油的山林之外，四周充t斥著芬多精，大口呼吸便能感覺清新的空氣在體內沸騰，帶給您都市沒有的愜意自在。
                .py-2.f-green.f-sm
                    | 【童螢季】
                .w-75.pb-4.f-grey.f-sm
                    | Shanshuei B&amp;B 台中谷關‧松鶴山水 位於台中市和平區，層疊群山環繞的環境有著清逸秀麗的美麗風景，讓人感到身心舒暢，彷彿所有煩憂都被隔絕在這綠油油的山林之外，四周充t斥著芬多精，大口呼吸便能感覺清新的空氣在體內沸騰，帶給您都市沒有的愜意自在。
                .py-2.f-green.f-sm
                    | 【童螢季】
                .w-75.pb-4.f-grey.f-sm
                    | Shanshuei B&amp;B 位於台中市和平區，層疊群山環繞的環境有著清逸秀麗的美麗風景，讓人感到身心舒暢，彷彿所有煩憂都被隔絕在這綠油油的山林之外，四周充t斥著芬多精，大口呼吸便能感覺清新的空氣在體內沸騰，帶給您都市沒有的愜意自在。
                .h-100px
            .parallax
