extends ./_global/page

block head_end
    link(rel="stylesheet", href="./css/rooms.css")

block body_content
    main.wrapper
        section.h-500px.o-h
            img(src="./images/image_03.jpg", alt="", width="100%", height="auto")
            .gallery_bar
        section
            .h-100px
            .container
                .row
                    .col-12.col-md-8
                        img(src="./images/temp_01.jpg", alt="", width="100%", height="auto")
                    .col-12.col-md-4
                        .main_border.p-4
                            .f-lg.f-main.font-weight-bold
                                | 清新雙人房
                            .d-flex.f-xs.f-main
                                .px-1 2位
                                .px-1 1間臥室
                                .px-1 1張床
                                .px-1 1間浴室
            .h-100px
