extends ./_global/page

block head_end

block body_content
    main.wrapper
        section
            img(src="./images/map_01.png", alt="", width="100%", height="auto")
            .gallery_bar
        section
            .h-100px
            .container
                .row.justify-content-center
                    .col-10
                        .main_border.p-4
                            | Shanshuei 台中谷關‧松鶴山水 位於台中市和平區，層疊群山環繞的環境有著清逸秀麗的美麗風景，讓人感到身心舒暢，彷彿所有煩憂都被隔絕在這綠油油的山林之外，四周充t斥著芬多精，大口呼吸便能感覺清新的空氣在體內沸騰，帶給您都市沒有的愜意自在。

            .h-100px
