extends ./_global/page

block head_end
    link(rel="stylesheet", href="./css/scenery.css")
    script(src="./js/scenery.js")

    // swiper v4.4.1
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js')

    // isotope
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js")

block body_content

    main.wrapper
        .h-100px.visible-sm-down
        section.bg-sky.pt-5.hidden-sm-down
            #MAP.container.d-relative
                #MP00.map-position
                    .d-relative
                        | ★
                #MP01.map-position.entertainment
                    .d-relative
                        | 1
                #MP02.map-position.entertainment
                    .d-relative
                        | 2
                #MP03.map-position.scene
                    .d-relative
                        | 3
                #MP04.map-position.present
                    .d-relative
                        | 4
                #MP05.map-position.food
                    .d-relative
                        | 5
                #MP06.map-position.entertainment
                    .d-relative
                        | 6
                #MP07.map-position.food
                    .d-relative
                        | 7
                #MP08.map-position.entertainment
                    .d-relative
                        | 8
                #MP09.map-position.scene
                    .d-relative
                        | 9
                #MP10.map-position.food
                    .d-relative
                        | 10
                #MP11.map-position.scene
                    .d-relative
                        | 11
                #MP12.map-position.food
                    .d-relative
                        | 12
                #MP13.map-position.present
                    .d-relative
                        | 13
                img(src="./images/map_01.png", alt="", width="100%", height="auto")
            .gallery_bar
        section
            .container.mt-4
                .map-list-menu.mb-5.text-center.f-lg
                        a.f-md.f-main.px-3.border-right.border-grey(href="javascript: void(0);", onclick="filter()") 全部
                        a.f-md.f-main.px-3.border-right.border-grey(href="javascript: void(0);", onclick="filter('.scene')") 風景
                        a.f-md.f-main.px-3.border-right.border-grey(href="javascript: void(0);", onclick="filter('.entertainment')") 娛樂
                        a.f-md.f-main.px-3.border-right.border-grey(href="javascript: void(0);", onclick="filter('.food')") 美食
                        a.f-md.f-main.px-3(href="javascript: void(0);", onclick="filter('.present')") 送禮
                #ML.map-list.d-flex.flex-column
                    .map-list-each.entertainment.rounded.border.grey-border.p-4.mb-5.d-relative
                        .px-3.map-list-title.bg-white.f-md.f-grey
                            .w-50px.mr-2
                                img(src="./images/svg_02_travel_entertainment.svg", alt="")
                            .text-nowrap 1. 德芙蘭農場
                        .row
                            .col-12.col-md-8
                                ol.f-grey.f-sm
                                    .h-20px.visible-sm-down
                                    li 露營區
                                    li 1.兒童遊戲沙坑
                                    li 2.兒童戲水池
                                    li 3.溜滑梯
                                    li 4.森林步道
                                hr
                                p.f-grey.f-sm
                                    | 連絡電話 0955-497-898
                            .col-12.col-md-4
                                .img-4-3
                                    img(src="./images/map_list_01.jpg", alt="")

                    .map-list-each.entertainment.rounded.border.grey-border.p-4.mb-5.d-relative
                        .px-3.map-list-title.bg-white.f-md.f-grey
                            .w-50px.mr-2
                                img(src="./images/svg_02_travel_entertainment.svg", alt="")
                            .text-nowrap 2. 德芙蘭農場
                        .row
                            .col-12.col-md-8
                                p.f-grey.f-sm
                                    .h-20px.visible-sm-down
                                    | 狩獵戰場模擬射擊傳統射箭、泰雅手工藝DIY、生態導覽、原住民風味餐、漁獵戰場、捕魚體驗、山林夜間探索
                                    br
                                    | 集合點：沐樂居民宿
                                hr
                                p.f-grey.f-sm
                                    | 聯絡電話 0918-770-439
                            .col-12.col-md-4
                                .img-4-3
                                    img(src="./images/map_list_02.jpg", alt="")

                    .map-list-each.scene.rounded.border.grey-border.p-4.mb-5.d-relative
                        .px-3.map-list-title.bg-white.f-md.f-grey
                            .w-50px.mr-2
                                img(src="./images/svg_05_scene.svg", alt="")
                            .text-nowrap 3. 德芙蘭生態步道
                        .row
                            .col-12.col-md-8
                                p.f-grey.f-sm
                                    .h-20px.visible-sm-down
                                    | 被譽為「谷關最優美的步道」，全程3公里的環狀步道，路段多為緩坡適合全家大小健走
                            .col-12.col-md-4
                                .img-4-3
                                    img(src="./images/map_list_03.jpg", alt="")

                    .map-list-each.present.rounded.border.grey-border.p-4.mb-5.d-relative
                        .px-3.map-list-title.bg-white.f-md.f-grey
                            .w-50px.mr-2
                                img(src="./images/svg_03_present.svg", alt="")
                            .text-nowrap 4. 阿嬌姨的店
                        .row
                            .col-12.col-md-8
                                p.f-grey.f-sm
                                    .h-20px.visible-sm-down
                                    | 販售/寄賣在地山產及食品
                                    br
                                    | 紅藜饅頭、黑木耳露、五葉松汁、季節水果與蔬菜
                                hr
                                p.f-grey.f-sm
                                    | 聯絡電話 (04)2594-3439
                            .col-12.col-md-4
                                .img-4-3
                                    img(src="./images/map_list_04.jpg", alt="")

                    .map-list-each.food.rounded.border.grey-border.p-4.mb-5.d-relative
                        .px-3.map-list-title.bg-white.f-md.f-grey
                            .w-50px.mr-2
                                img(src="./images/svg_04_food.svg", alt="")
                            .text-nowrap 5. 魚之鄉鱘龍魚
                        .row
                            .col-12.col-md-8
                                p.f-grey.f-sm
                                    .h-20px.visible-sm-down
                                    | 【 創意料理 / 龍魚養殖 / 商務宴客 】
                                    br
                                    | ★ 主打各式海鮮、鱘龍魚創意料理及養生餐飲
                                    br
                                    | 鱘龍三寶、鱘龍刺身、岩燒鱘龍件、珍菇玉茸龍首鍋、椒鹽龍骨等多道人氣料理
                                    br
                                    br
                                    | ★ 漁獲皆來自魚之鄉園區內自行養殖的優質鱘龍魚
                                    br
                                    | 除了確保健康無毒素，魚苗品質及來源更受到嚴格的把關唷！
                                    br
                                    br
                                    | ★ 魚之鄉手工嚴選的海中珍寶「珍饌魚子醬」
                                    br
                                    | 其獨特的鮮味，絕對是您送禮自用皆宜的伴手禮好選擇！
                                hr
                                p.f-grey.f-sm
                                    | 聯絡電話 (04)2594-3349
                            .col-12.col-md-4
                                .swiper-container
                                    .swiper-wrapper
                                        .swiper-slide
                                            .img-4-3
                                                img(src="./images/f-002.png", alt="")
                                        .swiper-slide
                                            .img-4-3
                                                img(src="http://www.livefish.com.tw/images/981023-08.jpg", alt="")
                                        .swiper-slide
                                            .img-4-3
                                                img(src="./images/f-001.png", alt="")
                                        .swiper-slide
                                            .img-4-3
                                                img(src="./images/f-003.png", alt="")
                                    //- .swiper-button-next
                                    //- .swiper-button-prev

                    .map-list-each.entertainment.rounded.border.grey-border.p-4.mb-5.d-relative
                        .px-3.map-list-title.bg-white.f-md.f-grey
                            .w-50px.mr-2
                                img(src="./images/svg_02_travel_entertainment.svg", alt="")
                            .text-nowrap 6. 達娜萊露營區
                        .row
                            .col-12.col-md-8
                                p.f-grey.f-sm
                                    .h-20px.visible-sm-down
                                    | 達娜萊，泰雅話意指「驚訝」的意思。
                                    br
                                    | 露營區內寬敞舒適，備有兒童浴池，不定時舉辦民歌歡唱及互動活動等。
                                hr
                                p.f-grey.f-sm
                                    | 聯絡電話 0979-334-213
                            .col-12.col-md-4
                                .img-4-3
                                    img(src="./images/map_list_06.jpg", alt="")

                    .map-list-each.food.rounded.border.grey-border.p-4.mb-5.d-relative
                        .px-3.map-list-title.bg-white.f-md.f-grey
                            .w-50px.mr-2
                                img(src="./images/svg_04_food.svg", alt="")
                            .text-nowrap 7. 古拉斯風味餐
                        .row
                            .col-12.col-md-8
                                p.f-grey.f-sm
                                    .h-20px.visible-sm-down
                                    | 格妮婩原汁原味溫暖手作紅藜饅頭、黑木耳露、小米酒、五葉松汁、純天然手工食品
                                    br
                                    | 現場DIY製作(限假日)
                                hr
                                p.f-grey.f-sm
                                    | 聯絡電話 0958-007-335
                            .col-12.col-md-4
                                .img-4-3
                                    img(src="./images/map_list_07.jpg", alt="")

                    .map-list-each.entertainment.rounded.border.grey-border.p-4.mb-5.d-relative
                        .px-3.map-list-title.bg-white.f-md.f-grey
                            .w-50px.mr-2
                                img(src="./images/svg_02_travel_entertainment.svg", alt="")
                            .text-nowrap 8. 松滋露營區
                        .row
                            .col-12.col-md-8
                                p.f-grey.f-sm
                                    .h-20px.visible-sm-down
                                    | 風景優美、場地遼闊
                                    br
                                    | 環境舒適整潔
                                    br
                                    | 適合全家大小一起同歡
                                hr
                                p.f-grey.f-sm
                                    | 聯絡電話 0955-779-235
                            .col-12.col-md-4
                                .img-4-3
                                    img(src="./images/map_list_08.jpg", alt="")

                    .map-list-each.scene.rounded.border.grey-border.p-4.mb-5.d-relative
                        .px-3.map-list-title.bg-white.f-md.f-grey
                            .w-50px.mr-2
                                img(src="./images/svg_05_scene.svg", alt="")
                            .text-nowrap 9. 唐麻丹山步道
                        .row
                            .col-12.col-md-8
                                p.f-grey.f-sm
                                    .h-20px.visible-sm-down
                                    | 唐麻丹山是「谷關七雄」之一，海拔1305公尺，步道連接「蝴蝶谷瀑布」，造福了喜愛登山與遊山玩水的遊客
                            .col-12.col-md-4
                                .img-4-3
                                    img(src="./images/map_list_09.jpg", alt="")

                    .map-list-each.food.rounded.border.grey-border.p-4.mb-5.d-relative
                        .px-3.map-list-title.bg-white.f-md.f-grey
                            .w-50px.mr-2
                                img(src="./images/svg_04_food.svg", alt="")
                            .text-nowrap 10. 東昌養鱒場
                        .row
                            .col-12.col-md-8
                                p.f-grey.f-sm
                                    .h-20px.visible-sm-down
                                    | 餐廳只有禮拜天及國定假日的中午才有提供虹鱒或鱘龍魚的料理
                                hr
                                p.f-grey.f-sm
                                    | 聯絡電話 0937-238-893
                            .col-12.col-md-4
                                .img-4-3
                                    img(src="./images/map_list_10.jpg", alt="")

                    .map-list-each.scene.rounded.border.grey-border.p-4.mb-5.d-relative
                        .px-3.map-list-title.bg-white.f-md.f-grey
                            .w-50px.mr-2
                                img(src="./images/svg_05_scene.svg", alt="")
                            .text-nowrap 11. 久良栖林場巷
                        .row
                            .col-12.col-md-8
                                p.f-grey.f-sm
                                    .h-20px.visible-sm-down
                                    | 「久良梄」是松鶴部落在日治時代的舊地名
                                    br
                                    | 巷內有日據時代榮民古厝及百年歷史古厝 - 檜木板屋等歷史建築
                            .col-12.col-md-4
                                .img-4-3
                                    img(src="./images/map_list_11.jpg", alt="")

                    .map-list-each.food.rounded.border.grey-border.p-4.mb-5.d-relative
                        .px-3.map-list-title.bg-white.f-md.f-grey
                            .w-50px.mr-2
                                img(src="./images/svg_04_food.svg", alt="")
                            .text-nowrap 12. 谷關山景餐廳
                        .row
                            .col-12.col-md-8
                                p.f-grey.f-sm
                                    .h-20px.visible-sm-down
                                    | 鱘龍魚新鮮味美、雞肉Q彈，恍如置身山雲間用餐
                                p.text-danger.f-sm
                                    | ★例假日與連續假日用餐需提前「一天以上」預約
                                hr
                                p.f-grey.f-sm
                                    | 聯絡電話 (04)2594-3788
                            .col-12.col-md-4
                                .img-4-3
                                    img(src="./images/map_list_12.jpg", alt="")

                    .map-list-each.present.rounded.border.grey-border.p-4.mb-5.d-relative
                        .px-3.map-list-title.bg-white.f-md.f-grey
                            .w-50px.mr-2
                                img(src="./images/svg_03_present.svg", alt="")
                            .text-nowrap 13. 神農谷段木香菇
                        .row
                            .col-12.col-md-8
                                p.f-grey.f-sm
                                    .h-20px.visible-sm-down
                                    | GAP全球優良農業
                                    br
                                    | 通過有機無毒認證
                                    br
                                    | 產品包含：
                                    br
                                    | 神農谷段木香菇(乾)
                                    br
                                    | 神農谷段木香菇(濕)
                                p.text-danger.f-sm
                                    | ★產季為10月至隔年2月
                                hr
                                p.f-grey.f-sm
                                    | 聯絡電話 0913-311-580
                            .col-12.col-md-4
                                .img-4-3
                                    img(src="./images/map_list_13.jpg", alt="")
            .h-100px
    script.
        var swiper = new Swiper('.swiper-container', {
        slidesPerView: 1,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        //- pagination: {
        //-     el: '.swiper-pagination',
        //-     clickable: true,
        //- },
        //- navigation: {
        //-     nextEl: '.swiper-button-next',
        //-     prevEl: '.swiper-button-prev',
        //- },
        });