extends ./_global/page

block head_end
    // parallax.js
    script(src="./libraries/parallax.min.js")

    link(rel="stylesheet", href="./css/index.css")

    style(type="text/css").
        body{
            height: 3000px;
        }
        .parallax-window{
            min-height: 400px;
            background: transparent;
        }

block body_content
    .parallax-window(data-parallax="scroll", data-image-src="./images/image_01.jpg")