header.header_bar.align-items-center
    a.brand.px-3(href="./index.html")
        img(src="./images/svg_01.svg", alt="", width="150", height="auto")
    .navs
        a.nav.f-md.f-grey.px-3(href="./rooms.html")
            | 房型介紹
        a.nav.f-md.f-grey.px-3(href="./scenery.html")
            | 周邊景點
        a.nav.f-md.f-grey.px-3(href="./booking.html")
            | 馬上預定