header.header_bar.align-items-center
    a.brand.px-3(href="./index.html")
        img(src="./images/svg_01_logo.svg", alt="", width="150", height="auto")
    .navs.hidden-sm-down
        a.nav.f-md.f-grey.px-3(href="./room_201.html")
            | 房型介紹
        a.nav.f-md.f-grey.px-3(href="./scenery.html")
            | 周邊景點
        a.nav.f-md.f-grey.px-3(href="./booking.html")
            | 馬上預定
    .ml-auto.visible-sm-down.mr-4.d-relative
        i.fas.fa-bars.f-main.f-xl
        label.click-label(for="HEADER_CHECKBOX")
        input#HEADER_CHECKBOX.click-checkbox(type="checkbox")
        .navs-options
            a.nav.f-md.f-grey.py-3.text-nowrap.border-bottom(href="./room_201.html") 房型介紹
            a.nav.f-md.f-grey.py-3.text-nowrap.border-bottom(href="./scenery.html") 周邊景點
            a.nav.f-md.f-grey.py-3.text-nowrap(href="./booking.html") 馬上預定